.form-result-container{
  display: block;
  background-color: rgb(255, 255, 255);
  border: 0px solid transparent;
  border-radius: 0px;
  box-sizing: border-box;
  margin: calc(20px) auto;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 1620px;
  float: none;
}
.form-result-content {
  padding: calc(12px);
  min-width: 640px;
}

.form-result-title-component{
  display: flex;
  -moz-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -5px;
  margin-bottom: 8px;
  color: rgb(69, 85, 96);
  font-size: 16px;
  font-weight: 600;
  min-height: 6px;
}
.form-live-component-value{
  color: rgb(89, 93, 100);
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(69, 85, 96);
  border-radius: 0px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: calc(42px);
  line-height: 14px;
  max-width: 100%;
  padding: calc(7px);
  transition-property: color, background-color, border, border-color, box-shadow;
  transition-duration: 0s;
  transition-timing-function: ease-in-out;
  width: 100%;
}
.form-results-component-title{
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  min-height: 5px;
  margin-top: -5px;
  margin-bottom: 5px;
  color: rgb(69, 85, 96);
  font-weight: 600;
  font-size: 16px;
}
.form-results-section-label{
  align-items: center;
  /* flex-wrap: wrap; */
  display: flex;
  color: rgb(69, 85, 96);
  font-size: 13px;
  white-space: nowrap;
  padding: 8px 4px;
}
.form-results-section-result{
  font-size: 13px;
  padding: 8px 4px;
}
.form-results-table{
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
}
.form-results-td{
  border: 1px solid rgb(211, 221, 225);
  font-size: 13px;
  padding: 8px 6px;
  max-width: 300px
}