.form-result-container{
  display: block;
  background-color: rgb(255, 255, 255);
  border: 0px solid transparent;
  border-radius: 0px;
  box-sizing: border-box;
  margin: calc(20px) auto;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 1620px;
  float: none;
}
.form-result-content {
  padding: calc(12px);
  min-width: 640px;
  position: relative;
}
.form-result-timestamp{
  position: absolute;
  top: 8px;
  height: 14px;
  right: 20px;
  font-size: 12px;
  z-index: 10;
}

.form-result-title-component{
  display: flex;
  -moz-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -5px;
  margin-bottom: 8px;
  color: rgb(69, 85, 96);
  font-size: 16px;
  font-weight: 600;
  min-height: 6px;
}
.form-result-component-container{
  direction: ltr;
  position: relative;
  transition-property: padding, box-shadow, background-color, margin-left, margin-right;
  transition-duration: 0s;
  transition-timing-function: ease-in-out;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  grid-column: span 1;
  margin-bottom: calc(14px);
}
.form-results-component-title{
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  min-height: 5px;
  margin-top: -5px;
  color: rgb(69, 85, 96);
  font-weight: 600;
  font-size: 16px;
}
.form-results-section-label{
  align-items: center;
  /* flex-wrap: wrap; */
  display: flex;
  color: rgb(69, 85, 96);
  font-size: 13px;
  white-space: nowrap;
  padding: 8px 4px;
}
.form-result-component-value{
  font-size: 14px;
}
.form-results-section-result{
  font-size: 13px;
  padding: 8px 4px;
}
.form-live-component-selected-option{
  padding: 4px 0px;
}
.form-results-table{
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
}
.form-results-td{
  border: 1px solid rgb(211, 221, 225);
  font-size: 14px;
  padding: 8px 6px;
  max-width: 300px
}
.form-results-table-bordless{
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
}
.form-results-td-bordless{
  border: none;
  font-size: 14px;
  padding: 4px 6px;
  max-width: 300px
}
.field-result-option-corrective-action-box{
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 13px;
  color: #eaa69d;
  margin-top: -8px;
}
.field-result-option-corrective-action{
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 13px;
  color: #eaa69d;
}