.clients-table-container {
  width: 100%;
  overflow-x: auto;
}

.clients-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.clients-table th,
.clients-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.clients-table th {
  font-weight: bold;
}

.clients-table tbody tr:hover {
  background-color: #f9f9f9;
}

.client-index{
  vertical-align: top;
}
.client-name{
  vertical-align: top;
  padding-right: 66px !important;
  color: #0066cc;
  text-decoration: none;
}
.client-name:hover {
  text-decoration: underline;
}
.user-name{
  color: #0066cc;
  text-decoration: none;
}
.user-name:hover {
  text-decoration: underline;
}
.client-status{
  vertical-align: top;
  text-align: center !important;
}


.status-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.status-indicator.active {
  background-color: #4CAF50;
}

.status-indicator.inactive {
  background-color: #F44336;
}

.status-indicator.pending {
  background-color: #FFC107;
}

.client-table-title{
  display: flex;
  gap: 18px;
  padding: 12px 0px;
}

.client-table-go-back{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border-radius: 18px;
  width: 36px;
  height: 36px;
  margin: 0;
}
.client-table-go-back img{
  width: 32px;
  height: 32px;
}
.submit-client-changes,
.discard-client-changes,
.edit-client-button{
  height: fit-content;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.edit-client-button {
  background-color: #28a745; /* Green for editing */
}
.submit-client-changes {
  background-color: #007bff; /* Blue for saving */
}

.discard-client-changes {
  background-color: #dc3545; /* Red for discarding */
}

.edit-client-button:hover {
  background-color: #218838; /* Darker green on hover */
}

.submit-client-changes:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.discard-client-changes:hover {
  background-color: #c82333; /* Darker red on hover */
}

.client-name-input{
  padding: 4px 2px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  transition: border-bottom-color 0.3s ease;
  font-weight: 500;

}
.clients-table input {
  width: 100%;
  padding: 4px 2px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 13px;
  transition: border-bottom-color 0.3s ease;
}

.client-name-input:focus,
.clients-table input:focus {
  border-bottom-color: #007bff;
  outline: none;
}

.clients-table input::placeholder {
  color: #aaa;
  font-style: italic;
}
