.forms-action{
  padding: 4px !important;
}
.forms-action a{
  display: flex;
  width: fit-content;
  cursor: pointer;
}
.forms-action a img:hover{
  opacity: 0.7;
}
.forms-action-open-img{
  width: 32px;
  height: 32px;
}
.forms-action-edit-img{
  width: 28px;
  height: 28px;
}
.form-index{
  font-size: 14px; 
  max-width: 8px;
}
.form-name{
  padding-right: 66px !important;
  color: #0066cc;
  text-decoration: none;
  font-size: 14px;
}