.document-management {
  display: flex;
  flex-direction: column;
}

.breadcrumb{
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
}
.breadcrumb span{
  color: #91b9d8;
}

.document-management-options {
  display: flex;
  align-items: center;
  gap: 10px;
}
.document-management-option{
  display: flex;
  cursor: pointer;
}
.document-management-content{
  display: grid;
  grid-template-columns: 290px 5fr;
}
.sidebar {
  width: 290px;
  background-color: #e2f0ff;
  color: rgb(0, 0, 0);
  padding: 10px 8px;
}

.sidebar h2 {
  font-size: 18px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  font-size: 14px;
  padding: 5px;
}
.folder-title{
  display: flex;
  gap: 8px;
  align-items: flex-end;
  margin-bottom: 8px;
  cursor: pointer;
}
.folder-icon{
  width: 24px;
  height: 24px;
}
.file-title{
  display: flex;
  gap: 2px;
  align-items: center;
  margin-bottom: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; 
  cursor: pointer;
}
.file-title:hover{
  opacity: 0.7;
}
.file-title-text{
  padding: 0px 6px;
}
.file-title-text-chosen{
  padding: 0px 6px;
  background-color: #056cf3;
  color: #ffffff;
  border-radius: 4px;
}

.sidebar li ul {
  padding-left: 12px;
}

.sidebar li.selected {
  background-color: #3498db;
}

.document-viewer {
  flex-grow: 1;
  margin: 0px 20px 20px;
  border: 1px solid #dededf;
}

.document-preview {
  border: 1px solid #ddd;
}

.document-preview-title {
  margin-top: 0;
  display: flex;
  gap: 8px;
  border-bottom: 1px solid #dededf;
  padding: 8px 12px 16px;
  font-weight: 500;
}
.document-preview-body {
  padding: 12px;
}
.document-preview-options{
  display: flex;
  align-items: center;
  border-bottom: 4px solid #dededf;
  width: 100%;
  font-size: 15px;
}
.document-preview-content{
  padding: 12px 0px;
}
.document-preview-info{
  padding: 8px 12px;
}
.document-preview-option,
.document-preview-option-chosen{
  margin-bottom: -4px;
  padding: 6px 16px;
  cursor: pointer;
}
.document-preview-option:hover,
.document-preview-option-chosen:hover{
  opacity: 0.7;
}
.document-preview-option{
  border-bottom: 4px solid #dededf;
}
.document-preview-option-chosen{
  border-bottom: 4px solid #1d191a;
  font-weight: 600;
}
