.window-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.window-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  max-height: 86vh;
  overflow-y: auto;
}

.window-content-title{
  margin-top: 0;
  font-weight: 400;
  font-size: 22px;
}
.window-content-title-field-name{
  font-weight: 600;
}
.window-content h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.location-form {
  border: 1px solid #eee;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-button,
.usual-button{
  padding: 8px 12px;
  margin-left: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-button[type="submit"] {
  border: 1px solid #4CAF50;
  color: #fffefe;
  background: #a4dca6;
}
.modal-button[type="submit"]:hover {
  color: #4CAF50;
}

button[type="cancel"] {
  border: 1px solid #f44336;
  color: #fffefe;
  background: #e6a8a4;
}
button[type="cancel"]:hover {
  color: #f44336;
}
button[type="usual"]{
  border: 1px solid #0c414a;
  color: #fffefe;
  background: #b4b4b4;
}
button[type="usual"]:hover{
  color: #0c414a;
}

.corrective-action-text{
  display: flex;
}