/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
  color: #333;
}

.home-page-container{
  display: grid;
  gap: 10px;
}
.page-container{
  display: flex;
}
.page-body{
  background: #FFF;
  border-radius: 18px;
  margin: 40px 60px;
  border: 1px solid #d8d8d8;
  width: 100%;
}
.table-page-body{
  margin: 40px 60px;
  width: 100%;
}
.editor-page-body{
  background: #FFF;
  border-radius: 18px;
  border: 1px solid #d8d8d8;
  width: 100%;
}

/* Header styles */
.header-component {
  height: 105px;
}
.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 105px;
  background-color: #fffbf3;
  padding: 20px 60px;
  z-index: 100;
}
.header-container{
  height: 65px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.logo img {
  width: 120px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}

.nav-links li {
  /* padding: 12px 20px; */
}

.nav-links a {
  color: #1c5055;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 18px;
  padding: 12px 20px;
  border-bottom: 3px solid #dfdfdf;
  white-space: nowrap;
}
.nav-links li a.active,
.header-button li a.active {
  font-weight: bold;
  color: #eaa69d;
  border-bottom: 3px solid #eaa69d;
}

.nav-links a:hover {
  color: #a9a9a9;
}

.header-button a{
  text-decoration: none;
  transition: color 0.3s ease;
  background-color: #0c414a;
  color: #f0fb86;
  padding: .625rem 1.25rem;
  border-radius: 8px;
  font-size: 18px;
}
.header-button a:hover {
  color: #f3fab2;
}
.header-button-profile a{
  display: flex;
  justify-content: center;
  background-color: #0c414a;
  border-radius: 24px;
  padding: 8px;
}
.header-button-profile a img{
  width: 32px;
  height: 32px;
}
.header-button-profile a:hover{
  opacity: 0.7;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  margin: 24px auto;
  padding: 18px;
}

.main-heading {
  font-size: 36px;
  font-weight: bold;
  color: #1c5055;
  margin-bottom: 20px;
  text-align: center;
}

.hero-text {
  font-size: 18px;
  color: #666;
  margin-bottom: 24px;
}

.cta-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.cta-btn:hover {
  background-color: #0056b3;
}

.about-section {
  background-color: #fff;
  padding: 0px 18px;
  max-width: 960px;
  margin: 20px auto;
  border-radius: 10px;
}

.section-heading {
  font-size: 24px;
  font-weight: bold;
  color: #1c5055;
  margin-bottom: 12px;
  text-align: center;
}

.about-text {
  font-size: 16px;
  color: #666;
  margin-bottom: 12px;
}

.footer {
  background-color: #1c5055;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.page{
  height: 100vh;
  background: #fff;
}

.dashboard-body{
  background: #FFF;
  border-radius: 18px;
  margin: 40px auto;
  border: 1px solid #d8d8d8;
  max-width: 1300px;
}
.dashboard-results-body{
  background: #FFF;
  border-radius: 18px;
  margin: 40px auto;
  border: 1px solid #d8d8d8;
  max-width: 1600px;
}

.table-page-heading{
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
}
.dashboard-page-heading{
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  margin: 22px 42px 0px;
}
.dashboard-page-title{
  display: flex;
  gap: 18px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  margin: 0px;
  color: rgb(21, 35, 43);
}
.table-page-content{
  display: flex;
  justify-content: center;
  padding: 0px 12px;
  background-color: #ffffff;
  border-radius: 6px;
}
.folders-page-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 6px;
}
.dashboard-page-content{
  display: flex;
  justify-content: center;
  padding: 20px 100px;
}
.dashboard-form-list{
  display: flex;
  flex-direction: column;
  width: 70%;
  list-style-type: none;
  padding: 0;
}
.results-dashboard-list{
  display: grid;
  justify-content: space-between;
  width: 80%;
  list-style-type: none;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.results-list-item {
  background-color: #f4f4f4;
  padding: 12px 18px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
.results-list-item-title{
  font-size: 20px;
}

.form-list-item {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-list-item a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.form-list-item a:hover {
  color: #666;
}

/* Buttons */
.form-actions {
  display: flex;
  gap: 10px;
}

.form-actions a {
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.form-actions .edit {
  background-color: #4CAF50;
}

.form-actions .fill {
  background-color: #2196F3;
}
.form-actions .delete {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
}
.form-actions .delete:hover {
  opacity: 0.7;
}

.form-actions a:hover {
  opacity: 0.8;
}

/* New Form Button */
.new-form-btn {
  transition: opacity 0.3s ease;
  color: #0c414a;
  background-color: #f8ffb9;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #d8d8d8;
  cursor: pointer;
}

.new-form-btn:hover {
  opacity: 0.8;
}


.panel {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 8px;
}

.panel-item {
  display: flex;
  align-items: center;
  margin-right: 16px;
  color: #333;
  font-size: 14px;
}

.panel-item.uncategorized {
  color: #888;
}

.panel-item .icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-color: #ccc;
  border-radius: 50%;
}

.panel-item:last-child {
  margin-left: auto;
  margin-right: 0;
}

.panel-item:last-child .icon {
  margin-left: 8px;
  margin-right: 0;
}

.page-body{
}
.form-builder-page-header{
  z-index: 4;
  -moz-box-align: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 12px;
  border-top: 1px solid rgb(211, 221, 225);
  border-bottom: 1px solid rgb(211, 221, 225);
  background-color: rgb(255, 255, 255);
}
.form-builder-page-header-button{
  -moz-box-align: center;
  align-items: center;
  display: inline-flex;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  user-select: none;
  transition-duration: 200ms;
  transition-property: color, background-color;
  transition-timing-function: ease-in-out;
  padding: 12px 12px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(1, 151, 236);
  cursor: pointer;
}
.form-builder-page-header-button:hover {
  opacity: 0.8;
}
.form-builder-page-content{
  display: flex;
}

.form-title-input{
  width: fit-content;
  max-width: 420px;
  font-size: 22px;
  padding: 0px 8px;
  border: none;
}
.form-title-input:focus-visible{
  border: none;
  outline: none;
  margin-bottom: -1px;
  border-bottom: 1px solid #c4c4c4;

}

.left-bar{
  flex-direction: column;
  display: flex;
  width: 349px;
  min-width: 284px;
  height: calc(-105px + 100vh);
  box-sizing: border-box;
  overflow-y: auto;
  position: sticky;
  top: 105px;
  border-right: 1px solid #c4c4c4;
  background: #f5f5f5;
}

.form-builder-components{
  padding: 12px;
}
.form-builder-part{
  background-color: #f5f5f5;
  padding: 0px 20px;
  flex: 1 1 0%;
}
.form-constructor-empty-state{
  display: flex;
  flex-direction: column;
  gap: 19px;
  text-align: center;
  padding: 51px;
  margin: 12px 16px;
  border: 1px dashed rgb(211, 221, 225);
  border-radius: 8px;
  background-color: rgb(247, 248, 248);
}
.empty-state-icon{
}
.empty-state-title{
  font-size: 21px;
  line-height: 32px;
  font-weight: 400;
}
.empty-state-subtitle{
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: rgb(69, 85, 96);
}
.form-constructor{
  display: flex;
  flex-direction: column;
  background: #FFF;
  height: 100%;
  max-width: 1440px;
  padding: 20px 0px;
}

.section-group {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background: #ffffff;
}

.section-header {
  -moz-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  padding: 8px 10px;
  gap: 8px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  font-size: 16px;
}

.toggle-icon {
  font-size: 14px;
  transition: transform 0.3s ease;
}

.toggle-icon.open {
  transform: rotate(0deg);
}
.toggle-icon.closed {
  transform: rotate(-90deg);
}

.option-content {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 12px;
  padding: 10px;
}
.column-option-content {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 6px;
}
.section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding: 10px;
}
.section-chooser {
  display: flex;
  flex-direction: column;
}

.section-chooser-container {
  display: flex;
  flex-direction: column;
  padding: 6px 10px;
  width: 100%;
}

.section-chooser-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.section-chooser-options {
  display: flex;
  justify-content: space-between;
}

.section-chooser-option{
  padding: 8px 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
  text-align: center;
  margin: 5px;
}

.section-chooser-option.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.form-builder-component{
  font-size: 14px;
  line-height: 19px;
  position: relative;
  -moz-box-align: center;
  align-items: center;
  flex-basis: calc(50% - 6px);
  display: flex;
  margin-bottom: 12px;
  padding: 7px 12px 7px 9px;
  box-sizing: border-box;
  border-left: 4px solid rgb(211, 221, 225);
    border-left-color: rgb(211, 221, 225);
  border-top: 1px solid rgb(211, 221, 225);
  border-right: 1px solid rgb(211, 221, 225);
  border-bottom: 1px solid rgb(211, 221, 225);
  border-radius: 4px;
  color: rgb(69, 85, 96);
  background-color: rgb(255, 255, 255);
  user-select: none;
  transition: opacity 200ms ease-in-out 0s, box-shadow 200ms ease-in-out 0s, border-left-color 200ms ease-in-out 0s;
  cursor: move;
}
.form-builder-component:hover{
  border-left-color: #a3d49a;
}

.form-field-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  margin: 0px calc(18.5px);
}
.form-section-field-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  margin: 0px;
}
.form-field {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  margin: 0px calc(18.5px);
  padding: 14px 13px;
  border: 2px solid rgb(211, 221, 225);
  border-radius: 4px;
  cursor: move;
}
.chosen-field{
  border: 2px solid rgb(33, 181, 115);
}
.form-component-title{
  -moz-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  min-height: 5px;
  margin-top: -5px;
  margin-bottom: 5px;
  color: rgb(69, 85, 96);
  font-size: 14px;
  font-weight: 600;
}
.form-title-component-title{
  display: flex;
  -moz-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -5px;
  margin-bottom: 8px;
  color: rgb(69, 85, 96);
  font-size: 16px;
  font-weight: 600;
  padding: 0px 6px;
  min-height: 6px;
}
.form-component-input-div{
  -moz-box-align: center;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 7px 12px;
  box-sizing: border-box;
  border: 1px solid rgb(211, 221, 225);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  color: rgb(69, 85, 96);
  font-size: 13px;
}
.form-component-form-date-time-inputs,
.form-component-form-date-inputs,
.form-component-form-time-inputs{
  display: flex;
  align-items: center;
  gap: 16px;
}
.form-component-form-date-time-inputs img{
  width: 26px;
  height: 26px;
}
.form-component-date-time-input-div{
  display: flex;
  justify-content: flex-end;
  -moz-box-align: center;
  align-items: center;
  width: 100px;
  padding: 7px 4px;
  box-sizing: border-box;
  border: 1px solid rgb(211, 221, 225);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  color: rgb(69, 85, 96);
}
.form-component-date-time-input-div img{
  width: 20px;
  height: 20px;
}
.form-component-file-upload{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  padding: 10px 8px;
  box-sizing: border-box;
  border: 3px solid rgb(211, 221, 225);
  border-radius: 14px;
  background-color: rgb(255, 255, 255);
  color: rgb(69, 85, 96);
  margin-left: 8px;
}
.form-component-file-upload img,
.form-component-add-button img{
  width: 24px;
}
.form-component-add-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 8px;
  box-sizing: border-box;
  border: 3px solid rgb(211, 221, 225);
  border-radius: 14px;
  background-color: rgb(255, 255, 255);
  color: rgb(69, 85, 96);
  margin-left: 8px;
}
.form-component-dropdown-div{
  -moz-box-align: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding: 7px 12px;
  box-sizing: border-box;
  border: 1px solid rgb(211, 221, 225);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  color: rgb(69, 85, 96);
  font-size: 14px;
  white-space: nowrap;
}
.form-component-dropdown-div img{
  width: 20px;
  height: 20px;
}
.form-component-dynamic-columns-container {
  display: grid;
  gap: 20px;
}
.form-component-dynamic-columns-table{
  display: grid;
}
.form-component-dynamic-columns-table td{
  
}
.form-component-table-label {
  font-size: 13px;
  min-height: 20.8px;
}
.form-component-column {
  /* min-width: 30px; */
}
.form-component-double-section-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.form-component-triple-section-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.form-component-four-section-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.form-component-five-section-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.form-component-name-fields{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.form-component-label{
  font-size: 13px;
  padding: 0px 6px;
  min-height: 20.8px;
  white-space: nowrap;
}
.form-section-label{
  font-size: 13px;
  padding-right: 8px;
}
.short{
  min-height: 38px;
}
.long{
  min-height: 82px;
  overflow-y: auto;
}
.form-short-answer{
  position: relative;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.form-date-time-answer{
  position: relative;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.form-date-time-answer img{
  width: 22px;
  height: 22px;
  position: absolute;
  right: 12px;
  top: 10px;
}
.form-checkbox-answers-vertical{
  position: relative;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.form-checkbox-answers-horizontal{
  display: flex;
  gap: 16px;
  position: relative;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.form-checkbox-option{
  display: flex;
  -moz-box-align: center;
  align-items: center;
  margin-bottom: 5px;
}
.form-checkbox-option-radio{
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  box-sizing: border-box;
  border: 1px solid rgb(211, 221, 225);
  border-radius: 12px;
}
.form-checkbox-option-radio-checked{
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid rgb(6, 158, 180);
  background-color: rgb(6, 158, 180);
}
.form-checkbox-option-checker{
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  box-sizing: border-box;
  border: 1px solid rgb(211, 221, 225);
  border-radius: 4px;
}
.form-checkbox-option-checker-checked{
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgb(6, 158, 180);
  background-color: rgb(6, 158, 180);
}
.form-checkbox-option-title{
  margin-left: 7px;
  color: rgb(69, 85, 96);
  font-size: 12px;
}


.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0; /* Initially hide the remove button */
  transition: opacity 0.3s ease;
}

.form-submit-button-container{
  text-align: center;
}
.form-submit-button{
  padding: 12px 55px;
  border: medium;
  border-radius: 4px;
  background-color: rgb(69, 85, 96);
  color: rgb(255, 255, 255);
}

.form-field:hover .remove-button {
  opacity: 1 !important; /* Show the remove button on hover */
}
.required_sign{
  font-size: 20px;
  line-height: 12px;
  margin-right: 2px;
  margin-left: -6px;
}
.remove-icon {
  width: 22px;
  height: 22px;
  font-size: 16px;
  color: #ff0000; /* Red color for the remove icon */
}
.drop-area {
  width: 100%;
  height: 10px;
  background-color: #fff;
  opacity: 0.5;
}
.drop-top{
  margin-bottom: 5px;
}
.section-drop-area{
  width: 100%;
  height: fit-content;
  min-height: 40px;
  background-color: #fff;
  opacity: 0.5;
}
.drop-over{
  background-color: blue;
}
.section-drop-over{
  border: 2px dotted #686868;
  border-radius: 4px;
  background-color: blue;
}
.drop-bottom{
  margin-top: 5px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 22px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 94vh;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  font-size: 22px;
  font-weight: bold;
  color: #333333;
}

.modal-close {
  background: none;
  border: none;
  font-size: 20px;
  color: #999999;
  cursor: pointer;
}

.modal-body {
  margin-bottom: 24px;
}

.form-group {
  margin-bottom: 8px;
}

.form-group label {
  display: block;
  font-size: 15px;
  color: #333333;
  margin-bottom: 4px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  resize: none;
}
.form-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23333'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  padding-right: 32px;
}

.form-select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-footer button {
  padding: 10px 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-footer button[type='submit'] {
  background-color: #007bff;
  color: #ffffff;
  margin-right: 8px;
}

.modal-footer button[type='button'] {
  background-color: #f0f0f0;
  color: #333333;
}

.activate-page{

}
.activate-page-container{
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--gm3-sys-color-background, #fff);
  border-radius: 8px;
  border: 1px solid var(--gm3-sys-color-surface-variant, #e1e3e1);
  box-sizing: border-box;
  overflow: hidden;
  max-width: 500px;
  margin: 40px auto;
}

.activate-page-input-container{
  display: grid;
  padding: 12px 0px;
  align-items: center;
  grid-template-columns: 1fr 1fr 40px;
  margin: 0px 18px;
}
.activate-page-requirements-container{
  font-size: 13px;
  color: #8a8a8a;
  padding: 8px 22px;
}

.activated-success-block{
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  color: #155724;
  font-size: 16px;
  font-weight: bold;
  margin: 200px auto;
  padding: 20px 15px;
  text-align: center;
  animation: fadeOut 3s ease-in-out forwards;
  width: 360px;
}

.login-button {
  width: 100%;
  padding: 10px;
  margin: 0px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-button:hover {
  background-color: #0056b3;
}

.go-back-button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border-radius: 18px;
  width: 36px;
  height: 36px;
  margin: 0;
  background: #b4b4b4;
  cursor: pointer;
}
.go-back-button:hover{
  color: #0c414a;
}
.go-back-button img {
  width: 32px;
  height: 32px;
}

[help-title] {
  position: relative;
}

[help-title]:after {
  content: attr(help-title); /* Display the content of the custom attribute */
  background-color: #332F2E;
  width: max-content;
  max-width: 300px;
  color: #fff;
  font-size: 12px;
  position: absolute;
  padding: 1px 5px 2px 5px;
  right: 2px;
  top: 26px;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border-radius: .3rem;
  z-index: 12000;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

[help-title]:hover:after {
  opacity: 0.8;
  visibility: visible;
}

#remove_icon:hover,
#duplicate_icon:hover{
  content: attr(help-title);
}
.actions-container{
  display: flex; 
  gap: 10px;
}
.action-button{
  border: none;
  background-color: initial;
  cursor: pointer;
}
#cancel_editing:hover,
#save_editing:hover{
  content: attr(help-title);
}

.size20-icon{
  width: 20px;
  height: 20px;
}
.size22-icon{
  width: 22px;
  height: 22px;
}
.size24-icon{
  width: 24px;
  height: 24px;
}
.size26-icon{
  width: 26px;
  height: 26px;
}
.size28-icon{
  width: 28px;
  height: 28px;
}
.pointer{
  cursor: pointer;
}
.table-action-button{
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  padding: 2px 8px;
  width: fit-content;
  background: #fff;
  cursor: pointer;
}
.table-action-button:hover{
  opacity: 0.7;
}
.draggable-td{
  /* display: flex; */
  position: relative;
}
.draggable-td span{
  color: rgb(147, 147, 147);
  margin-right: 4px;
  cursor: grab;
}
.table-trash-icon{
  position: absolute;
  right: 12px;
  cursor: pointer;
}
.table-trash-icon:hover{
  opacity: 0.8;
}
.client-name img,
.draggable-td img{
  width: 20px;
  margin-right: 8px;
}
.group-title img{
  width: 18px;
  margin-left: 8px;
  cursor: pointer;
}