/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.home-page-container{
  display: grid;
  gap: 10px;
}

/* Header styles */
.header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}
.header-container{
  padding: 0px 120px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ccc;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  margin: 40px auto;
  padding: 20px;
}

.main-heading {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.hero-text {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.cta-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.cta-btn:hover {
  background-color: #0056b3;
}

.about-section {
  background-color: #fff;
  padding: 0px 20px;
  max-width: 960px;
  margin: 20px auto;
  border-radius: 12px;
}

.section-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.about-text {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.dashboard-page-heading{
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  margin: 31px 31px 0px;
}
.dashboard-page-title{
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  margin: 0px;
  color: rgb(21, 35, 43);
}
.dashboard-page-content{
  display: flex;
  justify-content: center;
  padding: 20px 100px;
}
.dashboard-form-list{
  display: flex;
  flex-direction: column;
  width: 70%;
  list-style-type: none;
  padding: 0;
}

.form-list-item {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-list-item a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.form-list-item a:hover {
  color: #666;
}

/* Buttons */
.form-actions {
  display: flex;
  gap: 10px;
}

.form-actions a {
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.form-actions .edit {
  background-color: #4CAF50;
}

.form-actions .fill {
  background-color: #2196F3;
}
.form-actions .delete {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
}
.form-actions .delete:hover {
  opacity: 0.7;
}

.form-actions a:hover {
  opacity: 0.8;
}

/* New Form Button */
.new-form-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  text-align: center;
  -moz-box-align: center;
  align-items: center;
  display: inline-flex;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  user-select: none;
  transition-duration: 200ms;
  transition-property: color, background-color;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.new-form-btn:hover {
  opacity: 0.8;
}


.panel {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 8px;
}

.panel-item {
  display: flex;
  align-items: center;
  margin-right: 16px;
  color: #333;
  font-size: 14px;
}

.panel-item.uncategorized {
  color: #888;
}

.panel-item .icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-color: #ccc;
  border-radius: 50%;
}

.panel-item:last-child {
  margin-left: auto;
  margin-right: 0;
}

.panel-item:last-child .icon {
  margin-left: 8px;
  margin-right: 0;
}

.page-body{
}
.form-builder-page-header{
  z-index: 4;
  -moz-box-align: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 12px;
  border-bottom: 1px solid rgb(211, 221, 225);
  background-color: rgb(255, 255, 255);
}
.form-builder-page-header-button{
  -moz-box-align: center;
  align-items: center;
  display: inline-flex;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  user-select: none;
  transition-duration: 200ms;
  transition-property: color, background-color;
  transition-timing-function: ease-in-out;
  padding: 12px 12px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(1, 151, 236);
  cursor: pointer;
}
.form-builder-page-header-button:hover {
  opacity: 0.8;
}
.form-builder-page-content{
  display: flex;
}

.form-title-input{
  width: fit-content;
  max-width: 420px;
  font-size: 22px;
  padding: 0px 8px;
  border: none;
}
.form-title-input:focus-visible{
  border: none;
  outline: none;
  margin-bottom: -1px;
  border-bottom: 1px solid #c4c4c4;

}

.left-bar{
  flex-direction: column;
  display: flex;
  width: 349px;
  height: calc(-53px + 100vh);
  box-sizing: border-box;
  overflow-y: auto;
  position: sticky;
  top: 53px;
  border-right: 1px solid #c4c4c4;
  background: #f5f5f5;
}

.form-builder-components{
  padding: 12px;
}
.form-builder-part{
  background-color: #f5f5f5;
  padding: 0px 20px;
  flex: 1 1 0%;
}
.form-constructor-empty-state{
  display: flex;
  flex-direction: column;
  gap: 19px;
  text-align: center;
  padding: 51px;
  margin: 12px 16px;
  border: 1px dashed rgb(211, 221, 225);
  border-radius: 8px;
  background-color: rgb(247, 248, 248);
}
.empty-state-icon{
}
.empty-state-title{
  font-size: 21px;
  line-height: 32px;
  font-weight: 400;
}
.empty-state-subtitle{
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: rgb(69, 85, 96);
}
.form-constructor{
  display: flex;
  flex-direction: column;
  background: #FFF;
  height: 100%;
  padding: 20px 0px;
}

.section-group {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background: #ffffff;
}

.section-header {
  -moz-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  padding: 8px 10px;
  gap: 8px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  font-size: 16px;
}

.toggle-icon {
  font-size: 14px;
  transition: transform 0.3s ease;
}

.toggle-icon.open {
  transform: rotate(0deg);
}
.toggle-icon.closed {
  transform: rotate(-90deg);
}

.option-content {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 12px;
  padding: 10px;
}
.section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding: 10px;
}
.form-builder-component{
  font-size: 14px;
  line-height: 19px;
  position: relative;
  -moz-box-align: center;
  align-items: center;
  flex-basis: calc(50% - 6px);
  display: flex;
  margin-bottom: 12px;
  padding: 7px 12px 7px 9px;
  box-sizing: border-box;
  border-left: 4px solid rgb(211, 221, 225);
    border-left-color: rgb(211, 221, 225);
  border-top: 1px solid rgb(211, 221, 225);
  border-right: 1px solid rgb(211, 221, 225);
  border-bottom: 1px solid rgb(211, 221, 225);
  border-radius: 4px;
  color: rgb(69, 85, 96);
  background-color: rgb(255, 255, 255);
  user-select: none;
  transition: opacity 200ms ease-in-out 0s, box-shadow 200ms ease-in-out 0s, border-left-color 200ms ease-in-out 0s;
  cursor: move;
}
.form-builder-component:hover{
  border-left-color: #a3d49a;
}

.form-field-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  margin: 0px calc(18.5px);
}
.form-field {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  margin: 0px calc(18.5px);
  padding: 14px 13px;
  border: 2px solid rgb(211, 221, 225);
  border-radius: 4px;
  cursor: move;
}
.chosen-field{
  border: 2px solid rgb(33, 181, 115);
}
.form-component-title{
  -moz-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  min-height: 5px;
  margin-top: -5px;
  margin-bottom: 5px;
  color: rgb(69, 85, 96);
  font-size: 14px;
  font-weight: 600;
}
.form-component-input-div{
  -moz-box-align: center;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 7px 12px;
  box-sizing: border-box;
  border: 1px solid rgb(211, 221, 225);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  color: rgb(69, 85, 96);
}
.form-component-form-date-time-inputs,
.form-component-form-date-inputs,
.form-component-form-time-inputs{
  display: flex;
  align-items: center;
  gap: 16px;
}
.form-component-form-date-time-inputs img{
  width: 26px;
  height: 26px;
}
.form-component-date-time-input-div{
  display: flex;
  justify-content: flex-end;
  -moz-box-align: center;
  align-items: center;
  width: 100px;
  padding: 7px 4px;
  box-sizing: border-box;
  border: 1px solid rgb(211, 221, 225);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  color: rgb(69, 85, 96);
}
.form-component-date-time-input-div img{
  width: 20px;
  height: 20px;
}
.form-component-file-upload{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  padding: 10px 8px;
  box-sizing: border-box;
  border: 3px solid rgb(211, 221, 225);
  border-radius: 14px;
  background-color: rgb(255, 255, 255);
  color: rgb(69, 85, 96);
  margin-left: 8px;
}
.form-component-file-upload img{
  width: 24px;
}
.form-component-dropdown-div{
  -moz-box-align: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding: 7px 12px;
  box-sizing: border-box;
  border: 1px solid rgb(211, 221, 225);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  color: rgb(69, 85, 96);
}
.form-component-dropdown-div img{
  width: 20px;
  height: 20px;
}
.form-component-name-fields{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.form-component-label{
  font-size: 13px;
  padding: 0px 6px;
}
.short{
  height: 31px;
}
.long{
  height: 82px;
  overflow-y: auto;
}
.form-short-answer{
  position: relative;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.form-date-time-answer{
  position: relative;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.form-date-time-answer img{
  width: 22px;
  height: 22px;
  position: absolute;
  right: 12px;
  top: 10px;
}
.form-checkbox-answers-vertical{
  position: relative;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.form-checkbox-answers-horizontal{
  display: flex;
  gap: 16px;
  position: relative;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.form-checkbox-option{
  display: flex;
  -moz-box-align: center;
  align-items: center;
  margin-bottom: 5px;
}
.form-checkbox-option-radio{
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 1px solid rgb(211, 221, 225);
  border-radius: 12px;
}
.form-checkbox-option-radio-checked{
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid rgb(6, 158, 180);
  background-color: rgb(6, 158, 180);
}
.form-checkbox-option-checker{
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 1px solid rgb(211, 221, 225);
  border-radius: 4px;
}
.form-checkbox-option-checker-checked{
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgb(6, 158, 180);
  background-color: rgb(6, 158, 180);
}
.form-checkbox-option-title{
  margin-left: 7px;
  color: rgb(69, 85, 96);
  font-size: 12px;
}


.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0; /* Initially hide the remove button */
  transition: opacity 0.3s ease;
}

.form-submit-button-container{
  text-align: center;
}
.form-submit-button{
  padding: 12px 55px;
  border: medium;
  border-radius: 4px;
  background-color: rgb(69, 85, 96);
  color: rgb(255, 255, 255);
}

.form-field:hover .remove-button {
  opacity: 1 !important; /* Show the remove button on hover */
}
.required_sign{
  font-size: 20px;
  line-height: 12px;
  margin-right: 2px;
  margin-left: -6px;
}
.remove-icon {
  width: 22px;
  height: 22px;
  font-size: 16px;
  color: #ff0000; /* Red color for the remove icon */
}
.drop-area {
  width: 100%;
  height: 10px;
  background-color: #fff;
  opacity: 0.5;
}
.drop-over {
  background-color: blue;
}
.drop-top{
  margin-bottom: 5px;
}
.drop-bottom{
  margin-top: 5px;
}