.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fffbf3;
}

.login-form {
  width: 400px;
  padding: 24px 24px 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.login-logo-container{
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.login-logo-container img{
  width: 200px;
}

.login-title {
  margin-bottom: 16px;
  font-size: 20px;
  text-align: center;
  color: #1c5055;
}

.login-error {
  margin-bottom: 20px;
  color: #ff0000;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
