
.loadingSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 4s ease-out;
  margin: 40px auto;
}
@keyframes spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(360deg); }
  100% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0deg); }
}
.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 4s linear 0s infinite normal;
  -moz-animation: 4s linear 0s normal none infinite spin;
  -webkit-animation: spin 4s linear 0s infinite normal;
}